@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');




body {
    background: linear-gradient(90deg, #1F4E4E 0%, #bfdada 70%);
    font-family: 'Poppins';
    line-height: 1.6;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; /* Osigurava da gradient ispuni ceo ekran */
    margin: 0; /* Uklanja podrazumevane margine */
  }

  body, ul {
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

  }

  .logo {
    height: 50px;
    cursor: pointer;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    flex:1;
    margin:0;
    padding:0;
    justify-content: space-evenly;
  }

  .nav-links li{
    margin: 0;
  }

  .nav-links a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    transition: color 0.3s;
  }

  .nav-links a:hover {
    color: black;
  }


  .Parent-proizvodi-content{
    margin-top: 20vh;

  }
  .proizvodi-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


  }

  .proizvod{
    text-align: center;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
  }

  .proizvodi-slika{

    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;

    
  }

  .proizvodi-tekst{
    background-color:#0B0F23;
    font-size: 16px;
    margin: 0px;
    padding: 20px;
    color: #ffffff;
    box-sizing: border-box;
  }

  .content {
    margin-top: 80px; /* Pomeraj sadržaj ispod navbar-a */
  }
  



  .horizontal-bar {
    display: flex; /* Postavlja polja u red */
    justify-content: space-around; /* Ravnomerno raspoređuje polja */
    align-items: center; /* Vertikalno poravnanje */
    background-color: #0B0F23; /* Boja pozadine trake */
    width: 100%; /* Širina trake */
    padding: 20px 0; /* Unutrašnji razmak (gore i dole) */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Blaga senka */
  }
  
  .image-box {
    width: 200px; /* Širina svakog polja */
    height: 200px; /* Visina svakog polja */
    background-color: #bfdada; /* Boja pozadine polja */
    border: 4px solid #ffffff; /* Obrub polja */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-box img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    transition: transform 2.2s ease;
  }

  .image-box img:hover {
    transform: scale(1.3);
  }

  .Parent-text-registracija{
    text-align:center;
  }
  .text-Registracija{
    display: inline-block;
    padding-top: 5vh;


  
  }

  .text-Registracija:hover{
    transform: scale(1.2);
    transition: transform 2s ease;
  }



  #text-image-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60vh; /* Ista visina kao ekran */
    margin-top: 20vh; /* Pomeramo ga za jednu visinu ekrana ispod prethodnog */
    padding: 0 5%;
 
  }


  .text-image-section {
    display: flex; /* Koristimo flexbox za raspodelu */
    align-items: center; /* Poravnava sadržaj vertikalno */
    justify-content: space-between; /* Razdvaja tekst i sliku */
    height: 100vh; /* Ista visina kao ekran */
    padding: 0 5%; /* Malo unutrašnjeg razmaka levo i desno */
    background-color: #0B0F23; /* Neutralna pozadina */
  }
  
  .text-content {
    flex: 1; /* Tekst zauzima 50% prostora */
    margin-right: 20px; /* Razmak između teksta i slike */
  }
  
  .text-content h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #ffffff; /* Tamno siva boja */
    margin-bottom: 20px; /* Razmak ispod naslova */
  }
  
  .text-content p {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #555; /* Svetlija siva boja */
    line-height: 1.5; /* Razmak između redova */
  }
  
  .image-content {
    flex: 1; /* Slika zauzima 50% prostora */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-content img {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Podesi da slika zauzme prostor bez distorzije */
  }




  .footer {
    background-color: #0B0F23; /* Tamna pozadina za moderan izgled */
    color: #FFFFFF; /* Svetla boja teksta */
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 20px; /* Razmak između ikona */
    margin-bottom: 10px;
  }
  
  .social-links a {
    display: inline-block;
  }
  
  .social-links img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
  }
  
  .social-links img:hover {
    transform: scale(1.2); /* Uvećava ikonu prilikom prelaska miša */
  }
  
  .footer p {
    font-size: 14px;
    margin: 0;
  }











